body {
    padding-left: 11em;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: red;
    background-color: #ffd700
}

ul.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em
}

h1 {
    font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif
}

ul.navbar li {
    background: whitesmoke;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid gray
}

ul.navbar a {
    text-decoration: none
}

a:link {
    color: red
}

a:visited {
    color: indigo
}

div.w3-top,
.w3-bottom {
    position: fixed;
    width: 100%;
    z-index: 1;
}