        body {
            color: goldenrod;
            background-color: papayawhip;
        }
        
        ul.navbar {
            list-style-type: none;
            padding: 0;
            margin: 0;
            top: 2em;
            left: 1em;
            width: 9em;
            overflow: hidden;
            background-color: #333;
        }
        
        .navbar li {
            background: whitesmoke;
            margin: 0.5em 0;
            padding: 0.3em;
            border-right: 1em solid gray
        }
        
        .navbar li a {
            display: block;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        
        a:link {
            color: red
        }
        
        a:visited {
            color: indigo
        }
        
        h1 {
            font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif
        }
        
        p {
            font-family: "Comic Sans MS", cursive, sans-serif;
        }
        
        table {
            border: 1;
            border-color: blue;
            width: 100%;
            height: auto;
            align-content: center;
            text-align: center;
        }
        
        th,
        td {
            align-content: center;
            padding: 5px;
            color: goldenrod;
            text-align: center;
        }
        
        .image {
            width: 30cm;
            height: 15cm;
            overflow: hidden;
        }
        
        .figure {
            width: 15cm;
            border: thick;
            margin: 1em;
            padding: 1em;
            background: saddlebrown;
        }
        
        .figure p {
            text-align: center;
            font-style: italic;
            font-size: larger;
        }